@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply bg-slate-50 text-slate-800 transition-all dark:bg-slate-900 dark:text-white/90;
	}

	h1 {
		@apply text-4xl font-normal leading-normal;
	}
	h2 {
		@apply text-3xl font-normal leading-normal;
	}
	h3 {
		@apply text-2xl font-normal leading-normal;
	}
	h4 {
		@apply text-xl font-normal leading-normal;
	}
	h5 {
		@apply text-lg font-normal leading-normal;
	}
}

@layer components {
	.sidebar-bg {
	}
}

@property --c {
	syntax: '<color>';
	inherits: false;
	initial-value: transparent;
}
@property --op {
	syntax: '<number>';
	inherits: false;
	initial-value: 0;
}

@layer utilities {
	.mask-fade-top {
		--c: transparent;
		--op: 0;
		transition: --c 0.5s;
		transition: --op 0.5s;
		mask-image: linear-gradient(rgba(0, 0, 0, var(--op)), rgba(0, 0, 0, 1));
		&:hover {
			--c: #000000;
			--op: 1;
		}
	}
	.fade-top {
		mask-image: linear-gradient(transparent, #000);
	}
	.bb {
		@apply border border-red-600 sm:border-blue-600 md:border-green-600 lg:border-black;
	}
	.bb2 {
		@apply border border-green-600 sm:border-red-600 md:border-blue-600 lg:border-pink-600;
	}
	.flex-center {
		@apply flex items-center justify-center;
	}
}
