---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Codepens" sideBarActiveItemID="codepens">
	<main class="relative flex w-full flex-grow flex-col">
		<h1>Home of Code Playgrounds and coding experiments</h1>
	</main>
</BaseLayout>
