---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="CV" sideBarActiveItemID="cv">
	<main class="relative flex w-full flex-grow flex-col">
		<h1>This will be my CV</h1>
	</main>
</BaseLayout>
