---
import Layout from '@/layouts/Layout.astro';

import ThemeToggle from '@/components/ui/ThemeToggle.astro';
---

<Layout title="Astrofied Code Playground">
	<main class="relative flex w-full justify-center text-center">
		<div class="absolute right-1 top-1">
			<ThemeToggle />
		</div>
		<h3 class="pt-10">Astrofied</h3>
	</main>
</Layout>
