---
import Layout from '@/layouts/Layout.astro';

import ThemeToggle from '@/components/ui/ThemeToggle.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
---

<Layout title="Astrofied Code Playground">
	<main class="relative flex w-full flex-col justify-center text-center">
		<div class="absolute right-2 top-2">
			<ThemeToggle />
		</div>

		<div class="space-y-5 pt-10">
			<Header />
			<Footer />
		</div>
	</main>
</Layout>
