---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Music" sideBarActiveItemID="music">
	<main class="relative flex w-full flex-grow flex-col">
		<h1>Latest Soundcloud mix embeded</h1>
		<h2>With Link to Soundcloud page</h2>
	</main>
</BaseLayout>
