---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout sideBarActiveItemID="photography">
	<main class="relative flex w-full flex-grow flex-col">
		<h1>A selection of my latest photos</h1>
		<h2>With a link to paulhaze.photography</h2>
	</main>
</BaseLayout>
