---
import { Icon } from 'astro-icon/components';
---

<div
	class="mask-fade-top pointer-events-none sticky bottom-10 block h-12 justify-center bg-base-200"
>
</div>
<div
	class="social-icons sticky bottom-0 flex justify-center self-center bg-base-200 px-4 pb-5 pt-1"
>
	<Icon class="h-6 w-6" name="coffee" />
</div>
