---
import { Icon } from 'astro-icon/components';
---

<div
	class="mask-fade-top pointer-events-none sticky bottom-10 block h-12 justify-center bg-base-200"
>
</div>
<div
	class="social-icons sticky bottom-0 flex justify-center self-center bg-base-200 px-4 pb-5 pt-1"
>
	<a
		href="https://artemist.com.au/"
		target="_blank"
		class="mx-3"
		aria-label="Support my work"
		title="Support my work"
	>
		<Icon class="h-6 w-6" name="coffee" />
	</a>
	<a
		href="https://github.com/paulhaze/"
		target="_blank"
		class="mx-3"
		aria-label="Github repo"
		title="Github Repo"
	>
		<Icon class="h-6 w-6" name="github" />
	</a>
	<a
		href="https://twitter.com/paulhaze/"
		target="_blank"
		class="mx-3"
		aria-label="Twitter"
		title="Twitter"
	>
		<Icon class="h-6 w-6" name="twitter" />
	</a>
	<a
		href="https://linkedin.com/paulhaze/"
		target="_blank"
		class="mx-3"
		aria-label="Twitter"
		title="Twitter"
	>
		<Icon class="h-6 w-6" name="linkedin" />
	</a>
</div>
