---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Project Three" sideBarActiveItemID="projects">
	<main class="relative flex w-full flex-grow flex-col">
		<h1>Project Three</h1>
	</main>
</BaseLayout>
