---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout sideBarActiveItemID="projects">
	<main class="relative flex w-full flex-grow flex-col">
		<h1>Project One</h1>
	</main>
</BaseLayout>
